name: Buld image and push

on:
  push:
    branches: 
      - main
    paths-ignore:
      - 'README.md'
      - 'docs/**'
      - 'examples/**'
      - '.github/**'
      - 'Makefile'
      
jobs:
  build-and-push:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v5

    - name: Set up Docker Build
      uses: docker/setup-buildx-action@v3

    - name: Login to DockerHub
      uses: docker/login-action@v3
      with:
        username: ${{ secrets.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_TOKEN }}

    - name: Build and push Docker image
      uses: docker/build-push-action@v6
      with:
        push: true
        tags: saumyashah40/logsgo:dev
      
